{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!----------------------------------------Bootstrap CSS----------------------------------------------->
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"  rel="stylesheet">
      <!---------------------------------------------------------------------------------------------------->

      <!--------------------------------------- bootsrap java script---------------------------------------->
      <link href="{% static 'bootstrap/css/bootstrap.min.css' %}"  rel="javascript">
      <!---------------------------------------------------------------------------------------------------->

      <!--------------------------------------- Jquery ---------------------------------------->
      <link href="{% static 'bootstrap/js/jquery-3.5.1.min.js' %}"  rel="javascript">
      <!---------------------------------------------------------------------------------------------------->


      <!-- ------------------------------Title-------------- --------------------------------------------- -->
      <title>{% block title %}{% endblock title %}</title>
       <!---------------------------------------------------------------------------------------------------->

       <!-- ------------------------------Custom CSS-------- --------------------------------------------- -->
       {% block custom_css %}{% endblock custom_css %}
       <!-- ------------------------------------------------- --------------------------------------------- -->

  </head>

  <body>
    <!-- ------------------------------Header File -------- --------------------------------------------- -->
    {% include 'header.html' %}
    <!-- -------------------------------------------------- --------------------------------------------- -->

    <!-- ------------------------------For Showing Messages-------- --------------------------------------->
    {% if msg is not None %}{{ msg }}{% endif %}
    <!-- ------------------------------Custom CSS-------- --------------------------------------------- -->

    <!-- ------------------------------Body-------- --------------------------------------------- -->
    {% block body_data %} {% endblock body_data %}
    <!-- ------------------------------Body-------- --------------------------------------------- -->


    <!-- ------------------------------Custom JS-------- --------------------------------------------- -->
    {% block custom_js %}{% endblock custom_js %}
  <!-- ------------------------------Custom CSS-------- --------------------------------------------- -->
  </body>
</html>