{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <title>!! Login !!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

  </head>
  <body style="background: linear-gradient(to top right, #fc2c77 0%, #6c4079 100%);padding:10px;padding-top:50px;">
   <div class="row m-3 text-center">
       <div class="" style="color:white;font-size:29px;letter-spacing:0.6px;">
           <center>Wel-Come  </center>
           <center><img style="height:220px;width:250px;" src="https://cdn.shopify.com/s/files/1/2363/5731/files/mobile_verfi.png?1313559444665982164" /></center>


       </div>
   </div>
   <div class="row m-3 text-center" style="color:white;font-size:15px;letter-spacing:0.6px;">
       <div class="col p-3">
           {{ content }}
       </div>
   </div>
   <div class="row m-3 text-center">
       <div class="col bg-dark shadow p-3" style="margin:10px;padding:10px; margin-top:40px;margin-bottom:50px;color:black;font-size:20px;letter-spacing:0.6px;width:90%;background:white;">
         <center>  {{ otp }}</center>
       </div>
   </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>